body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
	background-color:#dceeff;
}

h2 {
	color: navy;
	text-align: left;
}

article p {
	text-align: justify;
}

.callout {
	color: #181a17f9;
	background-color:#fffacd;
    padding: 1rem; /* adds space inside the box */
    background-color: #b68722; /* optional: light background to highlight it */
    border: 1px solid #0f0d0d; /* optional: gives a border */
    border-radius: 8px; /* optional: smooth corners */
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: right;
}
