body {
    background-color: #d0d5d9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.form-container {
    width: 350px;
    margin: auto;
    background-color: #e2e2ed;
    padding: 20px;
    border-radius: 6px;
}

.form-title {
    text-align: center;
    background-color: #111;
    color: white;
    padding: 15px 0;
    margin-top: 0;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

select,
input[type="date"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 14px;
}

.small-label {
    margin-top: 20px;
    font-weight: bold;
}

.optional {
    font-size: 12px;
    color: #555;
}

.checkbox-group label {
    display: block;
    margin-top: 8px;
    font-size: 15px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* space between stars */
    margin-top: 10px;
}
.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* space between stars */
    margin-top: 10px;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 25px;
    cursor: pointer;
    color: #999;
}

.rating input:checked ~ label {
    color: gold;
}



.submit-btn {
    width: 100%;
    margin-top: 20px;
    background-color: #ddd;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.submit-btn:hover {
    background-color: #c9c9c9;
}
