
  body {
    font-family: roboto, open sans;
    background-color: rgb(127, 130, 129);
  }
  
  
  header {
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .site-header {
  display: flex;
  justify-content: flex-start; /* align left */
  align-items: flex-start;     /* align top */
  padding: 10px 20px;
}

.logo img {
  width: 200px;   /* adjust logo size */
  height: auto;
  display: block;
}
  body {
    background-image: url("../images/mayon1.jpg");
    background-size: cover;        /* makes it fill the screen */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* prevents repeating */
    color: #e9d7d7;
  }
  .topnav {
    overflow: hidden;
    background-color: #e9d7d7;
    font-size: 20px;
  }
  
  .topnav2 a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }
  
  .topnav a:hover {
    color: rgb(16, 232, 109);
    
    
  }

  .topnav a.active {
    background-color: rgb(16, 232, 109);
    color: white;
  }

h1 {
  font-size: 45px;
}

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  article {
    float: left;
    padding: 20px;
    text-align: space around, justify;
    text-justify: inter-word;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
  }

  .h2 {
    text-indent: 30px;
    text-align:justify;
    
  }
  .h1, .p{
    text-align:justify;
    text-justify: inter-word;
   
  }
  <footer>
    
  <p>&copy; <span id="currentYear"></span> Copyright 2024 Melinda Competente Philippines</p>
  <p>Last modification: <span id="lastModified"></span></p>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
          // Set current year in the footer
          var currentYear = new Date().getFullYear();
          document.getElementById("currentYear").textContent = currentYear;

          // Get last modified date of the document
          var lastModifiedDate = new Date(document.lastModified);
          document.getElementById("lastModified").textContent = lastModifiedDate.toLocaleString();
      });
  </script>
  
</footer>