/* Combined body styles */
body {
  font-family: roboto, open sans;
  background-color: rgb(127, 130, 129);
  background-image: url("../images/mayon1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e9d7d7;
}

/* Header */
header {
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Site header layout */
.site-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 20px;
}

/* Logo */
.logo img {
  width: 200px;
  height: auto;
  display: block;
}

/* Navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: rgb(16, 232, 109);
}

.topnav a.site {
  background-color: rgb(16, 232, 109);
  color: white;
}

/* Headings */
h1 {
  font-size: 45px;
}

/* UL reset */
nav ul {
  list-style-type: none;
  padding: 0;
 
}


/* Links */
a {
  text-decoration: none;
}

/* Articles */
article {
  float: left;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}

/* Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Text formatting */
.h2 {
  text-indent: 30px;
  text-align: justify;
}

.h1, .p {
  text-align: justify;
  text-justify: inter-word;
}
